<body class="login2background">
        <form (ngSubmit)="onSignin(fm)" #fm="ngForm">
        <div style="margin-top:-10%;">
              <div class="container">
                  <div class="col-lg-6 col-md-6 col-sm-8  loginbox">
                      <div class=" row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                                <h1><a class="clynsislogo" style="text-decoration:none; font-family:Courier New">clinsys</a></h1>
    
                           </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                              <span class="singtext"style="font-family:Courier New;  color: #337ab7; "><h2>Log in</h2> </span>
                          </div>
    
                      </div>
                      <div class=" row loginbox_content ">
                          <div class="input-group input-group-sm" >
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-user"></span>
                              </span>
                              <input class="form-control" type="text" placeholder="Your Email"  name="email" ngModel>
                          </div>
                          <br>
                          <div class="input-group input-group-sm">
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-lock"></span>
                              </span>
                              <input class="form-control" type="password" placeholder="Password"name="password" ngModel >
                          </div>
                      </div>
                      <div class="row ">
                          <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword ">
                              <a href="#"  > Forgot Username / Password?</a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
                                <button class="btn btn-lg btn-primary btn-block "   type="submit">Sign in</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-4 "></div>
    </div>
    
              </div>
        </form>
        <span  [ngSwitch]="logDone">          
                <div class="alert alert-success" *ngSwitchCase="true">
                  <strong>Success!</strong>login.
                </div>
                <div class="alert alert-danger" *ngSwitchCase="false">
                  <strong>Failed!</strong> login.
                </div>
                 
            </span>
          </body>
    