<div class="menu">
  <div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    <a class="navbar-brand" style="font-family:Courier New;"  [routerLink]="['/']">clinsys</a>
  </div>
  <div>

    <ul class="nav navbar-nav navbar-right">
        <span [ngSwitch]="loggedIn()">
            <li><a href="#" (click)="logout()"  *ngSwitchCase="true">
                Logout</a></li>
                 <li><a [routerLink]="['/signin']"  *ngSwitchCase="false">
                  <span class="glyphicon glyphicon-log-in"></span>Login</a></li>
               <li><a [routerLink]="['/signup']"  *ngSwitchCase="false">
                <span class="glyphicon glyphicon-user"></span>Register</a></li>
         
        </span>
    </ul>
  </div>
</div>
</div>
