<div class="container">
    <form class="form-signin" (ngSubmit)="onSignup(fm)" #fm="ngForm">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="username" name="username" ngModel  class="form-control"  placeholder="Enter your name"required>
      <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block"  type="submit">Sign Up</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Forgot the password?
    </a>
    <span  [ngSwitch]="regDone">          
        <div class="alert alert-success" *ngSwitchCase="true">
          <strong>Success!</strong> resigter please login page.
        </div>
        <div class="alert alert-danger" *ngSwitchCase="false">
          <strong>Failed!</strong> resigter.
        </div>
         
    </span>
  </div>